# service-data environment variables
DATA_DEBUG=false
DATA_LOG_LEVEL=INFO
DATA_DB_PATH=./data/data.db
DATA_RAG_SERVICE_URL=http://localhost:9002
DATA_MEMORY_SERVICE_URL=http://localhost:9003
DATA_LLM_GATEWAY_URL=http://localhost:9001
DATA_BATCH_SIZE_LIMIT=1000
